
<div class="jumbotron">

        <div class="row">
            <div>
                <h3><span class="label label-info">Defaulter followed up for</span></h3>
                <label class="control-label col-m-2"> who referred defaulter? </label> <br>
                <input type="text" class="form-control" id="name" > <br>

                <table class="table">

                    <tr>
                        <td><label class="control-label col-m-2"> PMTCT defaulter  </label></td>

                        <td><select name="problem" class="form-control">
                            <option value="Female">---Please select---</option>
                            <option value="Yes">Missing Antenatal follow up visit</option>
                            <option value= "No">PCR defaulter</option>
                        </select> <br> </td>
                    </tr>


                    <tr>
                        <td><label class="control-label col-m-2">  Womens health defaulter </label></td>

                        <td><select name="Blood" class="form-control">
                            <option value="Female">---Please select---</option>
                            <option value="Yes">Colposcopy defaulter</option>
                            <option value= "No">Family Planning</option>
                            <option value= "No">Pap smear</option>
                        </select> <br></td>
                    </tr>
                    <tr>
                        <td><label class="control-label col-m-2">  Child health defaulter </label></td>

                        <td><select name="Blood" class="form-control">
                            <option value="Female">---Please select---</option>
                            <option value="Yes">Immunization</option>
                            <option value= "No">Malnutrition</option>
                        </select> <br></td>
                    </tr>
                    <tr>
                        <td><label class="control-label col-m-2">  Infectious disease health defaulter </label></td>

                        <td><select name="Blood" class="form-control">
                            <option value="Female">---Please select---</option>
                            <option value="Yes">TB adherence</option>
                            <option value= "No">TB sputum</option>
                            <option value= "No">TB Contact tracing</option>
                            <option value= "No">ARV adherence</option>
                        </select> <br></td>
                    </tr>


                </table>


                <a href="#cbsDefaulterFinal" role="button" class="btn btn-success btn-lg">next</a>
                <a href="#tbTool" role="button" class="btn btn-success btn-lg">back</a>
            </div>

    </div>
</div>
