
 <div class="jumbotron">

        <div class="row">
            <h3><span class="label label-info">Medical Information con....</span></h3>

            <table class="table">


               <label class="control-label col-m-2"> Do you take other treatment or medication </label> </td>

                <select name="problem" class="form-control">
                    <option value="Yes">no</option>
                    <option value= "No">yes</option>
                </select> <br>

                    if yes - for what condition : <br>
                    <input type="text" class="form-control" id="condition" > <br>


                <tr>
                    <td><label class="control-label col-m-2"> Hearing Problem  </label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>


                <tr>
                    <td><label class="control-label col-m-2">  Blood Pressure reading </label></td>

                    <td><select name="Blood" class="form-control">
                        <option value="Female">---Please select---</option>
                        <option value="Yes">reading 1</option>
                        <option value= "No">reading 2</option>
                    </select> <br></td>
                </tr>

                <tr>
                    <td> <label class="control-label col-m-2">  Referred for </label> </td>

                    <td> <select name="refer" class="form-control">
                        <option value="Female">---Please select---</option>
                        <option value="Female">Blood Pressure</option>
                        <option value= "Male">HGT or DM signs</option>
                        <option value="Female">Eye Testing</option>
                        <option value= "Male"> Hearing </option>
                        <option value="Female">TB</option>
                        <option value= "Male">HIV test to be done</option>
                        <option value= "Male">HIV further follow up</option>
                    </select> <br> </td>
                </tr>
                <tr>
                    <td> <label class="control-label col-m-2">  Condoms issued </label> </td>


                    <td> <select name="Gender" class="form-control">
                        <option value="Female">---Please select---</option>
                        <option value="Female">female Condoms</option>
                        <option value= "Male">male Condoms</option>
                    </select> <br> </td>
                </tr>

            </table>

            <a href="#cbsFinal" role="button" class="btn btn-success btn-lg">next</a>

            <a href="#cbsMedical" role="button" class="btn btn-success btn-lg">back</a>
        </div>
    </div>

