
    <div class="jumbotron">


            <div class="row">
                </form>

                <h3><span class="label label-info">Medical Information</span></h3>

                <table class="table">
                        <tr>
                            <td><label class="control-label col-m-2">  Family history of diabetics </label></td>

                            <td><select name="problem" class="form-control">
                                <option value="Yes">no</option>
                                <option value= "No">yes</option>
                            </select> <br> </td>
                        </tr>
                        <tr>
                            <td><label class="control-label col-m-2">  Are you a hypertensive patient on treatment  </label></td>

                            <td><select name="problem" class="form-control">
                                <option value="Yes">no</option>
                                <option value= "No">yes</option>
                            </select> <br> </td>
                        </tr>
                        <th>  <label class="control-label col-m-2">   Please tick one of the two :  </label> <br> </th>
                        <tr>
                            <td></td>
                            <td><label class="control-label col-m-2">  frequently </label> </td>
                            <td><label class="control-label col-m-2">  increased  </label> </td>
                        </tr>

                        <tr>
                            <td> <label class="control-label col-m-2">  Urinate </label></td>

                            <td> <input type="checkbox" name="type" value="FrequentlyU">  </label></td>
                            <td> <input type="checkbox" name="type" value="increasedU">  </td>
                        </tr>

                        <tr>
                            <td> <label class="control-label col-m-2">  Fluid intake  </label> </td>

                            <td> <input type="checkbox" name="type" value="FrequentlyF"> </td>
                            <td> <input type="checkbox" name="type" value="increasedF">  <br> </td>
                        </tr>
                        <tr>
                            <td> <label class="control-label col-m-2"> Thirsty hunger    </label></td>

                            <td> <input type="checkbox" name="type" value="FrequentlyT"> </td>
                            <td> <input type="checkbox" name="type" value="increasedT">  <br></td>
                        </tr>
                </table>


                <a href="#cbsMedicalCon" role="button" class="btn btn-success btn-lg">next</a>

                <a href="#PersonInformation" role="button" class="btn btn-success btn-lg">back</a>

        </div>
