
<div class="jumbotron">

        <div class="row">
            <div>
                <form class="form-horizontal" role="form">
                    <h3><span class="label label-info">Child Assessment Done</span></h3>
                    <table class="table">

                        <label class="control-label col-m-2">  Please tick if you have done the following : </label> <br>
                        <tr>
                            <td><label class="control-label col-m-2"> Screened for Injuries(Abuse) </label> <br></td>
                            <td><input type="checkbox" name="type" value="FrequentlyU"><br></td>
                        </tr>
                        <tr>
                            <td> <label class="control-label col-m-2">Screened for Diarrhea </label> <br></td>
                            <td> <input type="checkbox" name="type" value="FrequentlyU"> <br></td>
                        </tr>
                        <tr>
                            <td><label class="control-label col-m-2">Screened Immunization </label>   </td>
                            <td> <input type="checkbox" name="type" value="FrequentlyU"> <br></td>
                        </tr>
                        <tr>
                            <td><label class="control-label col-m-2">Screen the Malnutrition(use MUAC)</label>   </td>
                            <td> <input type="checkbox" name="type" value="FrequentlyU"> <br></td>
                        </tr>
                        <tr>
                            <td><label class="control-label col-m-2">Screen for Vitamin A </label>   </td>
                            <td> <input type="checkbox" name="type" value="FrequentlyU"> <br></td>
                        </tr>
                        <tr>
                            <td><label class="control-label col-m-2">Deworming Screening </label>   </td>
                            <td> <input type="checkbox" name="type" value="FrequentlyU"> <br></td>
                        </tr>
                        <tr>
                            <td><label class="control-label col-m-2">Screened Milestones</label>   </td>
                            <td> <input type="checkbox" name="type" value="FrequentlyU"> <br></td>
                        </tr>
                        <tr>
                            <td><label class="control-label col-m-2">Screened for TB</label>   </td>
                            <td> <input type="checkbox" name="type" value="FrequentlyU"> <br></td>
                        </tr>
                        <tr>
                            <td><label class="control-label col-m-2">Deworming Screening </label>   </td>
                            <td> <input type="checkbox" name="type" value="FrequentlyU"> <br></td>
                        </tr>


                    </table>

                    <a href="#childAssessmentCon" role="button" class="btn btn-success btn-lg">next</a>
                    <a href="#childPerInfor" role="button" class="btn btn-success btn-lg">back</a>
                </form>
            </div>

    </div>
</div>
