
<div class="jumbotron">

        <div class="row">
            <div>
                <form class="form-horizontal" role="form">
                    <h3><span class="label label-info">Child Assessment</span></h3>
                    <table class="table">

                        <label class="control-label col-m-2">  Please tick if you have done the following : </label> <br>
                        <tr>
                            <td><label class="control-label col-m-2">   Other Child/Education promotions done </label> <br></td>
                            <td><input type="checkbox" name="type" value="FrequentlyU"><br></td>
                        </tr>
                        <tr>
                            <td> <label class="control-label col-m-2"> ORT promotion </label> <br></td>
                            <td> <input type="checkbox" name="type" value="FrequentlyU"> <br></td>
                        </tr>
                        <tr>
                            <td>  <label class="control-label col-m-2">  ORT bottle issued(number) </label> </td>
                            <td>  <input type="Number" name="numOfBottles" class="form-control"> </td>
                        </tr>
                    </table>

                    <a href="" role="submit" class="btn btn-success btn-lg">Submit</a>
                    <a href="#menuPage" role="menu" class="btn btn-success btn-lg">Menu</a>
                </form>

        </div>
    </div>
</div>
