
<div class="jumbotron">

        <div class="row">
            <h3><span class="label label-info">Child Assessment </span></h3>

            <table class="table">


                <label class="control-label col-m-2"> Administer Immunization </label>
                <input type="text" class="form-control" id="Administered" > <br>

                <label class="control-label col-m-2"> Which Immunization Administered?</label>
                <input type="text" class="form-control" id="condition" > <br>


                <tr>
                    <td><label class="control-label col-m-2"> Vitamin A </label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>


                <tr>
                    <td><label class="control-label col-m-2">Dewormed Child </label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>

                <tr>
                    <td> <label class="control-label col-m-2">  Referred for </label> </td>

                    <td> <select name="refer" class="form-control">
                        <option value="Female">---Please select---</option>
                        <option value="Female">Injury</option>
                        <option value= "Male">Diarrhea</option>
                        <option value="Female">Pneumonia</option>
                        <option value= "Male"> Immunization </option>
                        <option value="Female">malnutrition</option>
                        <option value= "Male">Vitamin A Supplementation</option>
                        <option value= "Male">Deworming needed</option>
                        <option value= "Male">Milestones delay</option>
                        <option value= "Male">TB</option>
                        <option value= "Male">HIV test/PCR</option>
                        <option value= "Male">Road to health booklet</option>
                        <option value= "Male">other (Describe)</option>
                    </select> <br> </td>
                <tr>
                       <td><label class="control-label col-m-2">Description here </label></td>
                        <td> <input type="text" class="form-control" id="other" ></td>
                </tr>
            </table>

            <a href="#childFinal" role="button" class="btn btn-success btn-lg">next</a>

            <a href="#childAssessment" role="button" class="btn btn-success btn-lg">back</a>
        </div>
    </div>

