
<div class="jumbotron">

        <div class="row">
            <h3><span class="label label-info">Medical Information</span></h3>

            <table class="table">

                <tr>
                    <td><label class="control-label col-m-2"> Refer for </label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Female">---Please select---</option>
                        <option value="Yes">HIV test</option>
                        <option value= "No">HIV further investigation </option>
                        <option value= "No">Male health abnormalities</option>
                        <option value= "No">MMC</option>
                        <option value= "No">STI</option>
                        <option value= "No">Vasectomy</option>
                    </select> <br> </td>
                </tr>

                <tr>
                    <td> <label class="control-label col-m-2">  Please tick if you have done the following : </label> </td>

                </tr>
                <tr>
                    <td><label class="control-label col-m-2">   MMC promotion </label>   </td>
                    <td> <input type="checkbox" name="type" value="FrequentlyU"> <br></td>
                </tr>
                <tr>
                    <td> <label class="control-label col-m-2">  Vasectomy promotion </label> <br></td>
                    <td> <input type="checkbox" name="type" value="FrequentlyU"> <br></td>
                </tr>
                <tr>
                    <td> <label class="control-label col-m-2"> Other Men's health  promotion </label> <br></td>
                    <td> <input type="checkbox" name="type" value="FrequentlyU"> <br></td>
                </tr>

            </table>

            <a href="#" role="submit" class="btn btn-success btn-lg">submit</a>
            <a href="#menuPage" role="menu" class="btn btn-success btn-lg">menu</a>


        </div>

</div>
