
<div class="jumbotron">

        <div class="row">
            <h3><span class="label label-info">Medical Information</span></h3>

            <table class="table">
                <tr>
                    <td> <label class="control-label col-m-2">Date of HIV test </label> </td>

                    <td> <select name="problem" class="form-control">
                        <option value="Female">---Please select---</option>
                        <option value="Yes">below 6 months</option>
                        <option value= "No">over 6 months</option>
                    </select> <br> </td>
                </tr>
                <tr>
                    <td> <label class="control-label col-m-2">  Please tick if you have done the following : </label> </td>

                </tr>
                <tr>
                    <td><label class="control-label col-m-2">   HIV Counselling </label>   </td>
                    <td> <input type="checkbox" name="type" value="FrequentlyU"> <br></td>
                </tr>
                <tr>
                    <td> <label class="control-label col-m-2">  HIV test</label> <br></td>
                    <td> <input type="checkbox" name="type" value="FrequentlyU"> <br></td>
                </tr>
                <tr>
                 <td> <label class="control-label col-m-2">  Do you have safe sex? </label> </td>


                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>
                <tr>
                    <td> <label class="control-label col-m-2">  Condoms issued </label> </td>
                    <td><input type="Number" name="Age" class="form-control"> <br></td>
                </tr>

            </table>

            </table>

            <a href="#maleAssessCon" role="button" class="btn btn-success btn-lg">next</a>

            <a href="#mensHealth" role="button" class="btn btn-success btn-lg">back</a>


        </div>

</div>