
<div class="jumbotron">

        <div class="row">
            <h3><span class="label label-info">Prostate Screening</span></h3>

            <table class="table">
                <tr>
                    <td><label class="control-label col-m-2"> Painful urination </label></td>


                        <td><select name="problem" class="form-control">
                            <option value="Yes">no</option>
                            <option value= "No">yes</option>
                        </select> <br> </td>

                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> Problems with impotence </label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> Any deformities/abnormalities of testis(egg) </label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>

                <tr>
                    <td><label class="control-label col-m-2"> Any discharge or warts present on penis </label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> Any breast lumps</label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>

            </table>

            <a href="#maleFinal" role="button" class="btn btn-success btn-lg">next</a>

            <a href="#maleAssessment" role="button" class="btn btn-success btn-lg">back</a>
        </div>

</div>
