

        <div class="jumbotron">

                <div class="row">


                            <p><a class="btn btn-lg btn-success btn-block" ng-href="#">Menu</a></p>
                          <hr />
                            <p><a class="btn btn-lg btn-success btn-block" href="#patientDetails">Patient Details</a></p>
                            <p><a class="btn btn-lg btn-success btn-block" href="#careplan">Care Plan</a></p>
                            <p><a class="btn btn-lg btn-success btn-block" href="#/measurement">Measurements</a></p>

                            <p><a class="btn btn-lg btn-success btn-block" href="#/menuPage">Diagnoses Tools</a></p>
                            <p><a class="btn btn-lg btn-success btn-block" href="#report">Submit Report</a></p>
            </div>

            <p><a class="btn btn-lg btn-success" href="#preMenu">Back</a></p>

       </div>
