
<div class="jumbotron">

    <p class="lead">
    <h3><span class="label label-info">CASE TOOLS</span></h3>
    </p>
    <p><a class="btn btn-lg btn-success btn-block " href="#toolStater">Chronic/HCT Case Finding Tool</a></p>
    <p><a class="btn btn-lg btn-success btn-block" href="#childHealth">Child Health/ CIMCI Case Finding Tool</a></p>
    <p><a class="btn btn-lg btn-success btn-block" href="#/tbTool">Community TB Case Finding Tool</a></p>
    <p><a class="btn btn-lg btn-success btn-block" href="#/mensHealth">Men's Health Case Finding Tool</a></p>
    <p><a class="btn btn-lg btn-success btn-block" href="#womensHealth">Women's health case Finding Tool</a></p>


</div>


<div class="row marketing">
    <p><a class="btn btn-lg btn-success btn-block" href="#menu"> menu</a></p>


</div>

