
            <div class="jumbotron">

                    <div class="row">
                        <div class="col-xs-12 col-md" ></div>
                        <div class="col-xs-6 col-md-4"></div>

                        <h3><span class="label label-info">Patient Details</span></h3>
                        <table class="table">

                            <tr>
                                <td><label class="control-label col-m-2"> Last Name </label></td>

                                <td> <input type="text" name="type" class="form-control" > <br></td>
                            </tr>
                            <tr>
                                <td><label class="control-label col-m-2"> First Name </label></td>

                                <td> <input type="text" name="type" class="form-control"> <br></td>
                            </tr>
                            <tr>
                                <td><label class="control-label col-m-2"> date of birth</label></td>

                                <td> <input type="text" name="type" class="form-control"> <br></td>
                            </tr>
                            <tr>
                                <td><label class="control-label col-m-2"> Age </label></td>

                                <td> <input type="text" name="type" class="form-control"> <br></td>
                                </tr>
                            <tr>
                                <td><label class="control-label col-m-2"> Gender </label></td>

                                <td> <select name="problem" class="form-control">
                                    <option value="Female">---Please select---</option>
                                    <option value="Yes">Female</option>
                                    <option value= "No">Male</option>
                                </select> <br> </td>

                            </tr>

                            <tr>
                                <td><label class="control-label col-m-2"> Street Name</label></td>

                                <td> <input type="text" name="type" class="form-control" ></td>


                            </tr>
                            <tr>
                                <td><label class="control-label col-m-2"> Postal Address</label></td>

                                <td> <input type="text" name="type" class="form-control"> <br></td>
                            </tr>
                            <tr>

                                <td><label class="control-label col-m-2"> Code</label></td>

                                <td> <input type="text" name="type" class="form-control"> <br></td>
                            </tr>
                            <tr>
                                <td><label class="control-label col-m-2"> Cell Number</label></td>

                                <td> <input type="text" name="type" class="form-control"></td>


                            </tr>
                            <tr>
                                <td><label class="control-label col-m-2"> Tell Number</label></td>

                                <td> <input type="text" name="type" class="form-control"> <br></td>
                            </tr>
                            <tr>

                                <td><label class="control-label col-m-2"> Email</label></td>

                                <td> <input type="text" name="type" class="form-control" > <br></td>
                        </table>
                        <a href="#menu" role="button" class="btn btn-success btn-lg">Back</a>


                    </div>

            </div>





