


<div class="jumbotron">

        <div class="row">
            <h3><span class="label label-info">Schedule </span></h3>

            <table class="table">

                <tr>
                    <td><label class="control-label col-m-2"> Patient Name </label></td>



                    <td><label class="control-label col-m-2"> Work Date</label></td>

                    <td><label class="control-label col-m-2"> Time In</label></td>

                    <td><label class="control-label col-m-2"> Time Out </label></td>

                </tr>
                <tr>

                <td><input type="text" name="pname" class="form-control"> </td>
                <td><input type="text" name="workdate" class="form-control"> </td>
                <td><input type="text" name="timeIn" class="form-control"> </td>
                <td><input type="text" name="timeOut" class="form-control"> </td>
                <td><a href="#menu" role="button" class="btn btn-success btn-lg">view Details </a></td>
                </tr>
                </hr>


            </table>




    </div>
</div>
