
<div class="jumbotron">

        <div class="row">
            <h3><span class="label label-info">Symptoms</span></h3>

            <table class="table">
                <tr>
                    <td><label class="control-label col-m-2"> Previous TB </label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> Smoking </label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> Common cold </label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>

                <tr>
                    <td><label class="control-label col-m-2"> Coughing for more than 2 weeks </label></td>
                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> Sputum Produced</label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>

                <tr>
                    <td><label class="control-label col-m-2"> Night sweats </label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>

            </table>

            <a href="#symptomsCon" role="button" class="btn btn-success btn-lg">next</a>

            <a href="#tbPersonalInfor" role="button" class="btn btn-success btn-lg">back</a>
        </div>
    </div>
