
<div class="jumbotron">

        <div class="row">
            <h3><span class="label label-info">Symptoms</span></h3>

            <table class="table">
                <tr>
                    <td><label class="control-label col-m-2"> weight loss </label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> Mid upper circumference below 23 cm</label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> Chest pain</label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> Appetite loss</label></td>
                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> Fatigue </label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> Other  </label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> Patient screened for TB</label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>
            </table>

            <a href="#tbFinal" role="button" class="btn btn-success btn-lg">next</a>

            <a href="#symptoms" role="button" class="btn btn-success btn-lg">back</a>
        </div>

</div>
