


    <div class="row" >
        <div class="jumbotron">

            <h3><span class="label label-info">CBD :Community TB case Finding Tool</span></h3>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-m-2"> Type of Event: </label>

                    <select name="Events" class="form-control">
                        <option value="Female">---Please select---</option>
                        <option value="Door-to-Door">Door-to-Door</option>
                        <option value="Home Routine">Home Routine</option>
                        <option value="Workplace">Workplace</option>
                        <option value="Group Meeting">Group Meeting</option>
                    </select> <br>

                </div>

                <div>
                    <label class="control-label col-m-2"> Screener </label>
                    <input type="text" class="form-control" name="Screener">
                    <label class="control-label col-m-2"> Location</label>
                    <input type="text" class="form-control" name="Location">
                    <label class="control-label col-m-2"> Date 	 </label>
                    <input type="dates" class="form-control" name="Date"> <br>

                    <a href="#tbPersonalInfor" role="button" class="btn btn-success btn-lg">next</a>

                </div>

            </form>

        </div>
    </div>

