

<div class="jumbotron">

        <div class="row">
            <h3><span class="label label-info">Unplanned Visit</span></h3>

            <table class="table">

                <tr>
                    <td><label class="control-label col-m-2"> Patient Name </label></td>
                    <td><input type="text" name="Age" class="form-control"> </td>
                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> Caregiver Name  </label></td>
                    <td><input type="text" name="Age" class="form-control"> </td>

                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> Work Date</label></td>
                    <td><input type="text" name="Age" class="form-control"> </td>
                </tr>

                <tr>
                    <td><label class="control-label col-m-2"> Time In</label></td>
                    <td><input type="text" name="Age" class="form-control"> </td>
                    </tr>
                <tr>
                    <td><label class="control-label col-m-2"> Time Out </label></td>
                    <td><input type="text" name="Age" class="form-control"> </td>
                </tr>
                </hr>

                <tr>
                    <td><label class="control-label col-m-2"> Patient Address </label></td>
                    <td><input type="text" name="Age" class="form-control"> </td>
                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> Cell Phone</label></td>
                    <td><input type="text" name="Age" class="form-control"> </td>
                </tr>
            </table>


           <a href="#" role="button" class="btn btn-success btn-lg">Save</a>
            <a href="#preMenu" role="button" class="btn btn-success btn-lg">Menu</a>
        </div>

</div>
