
<div class="jumbotron">

        <div class="row">
            <h3><span class="label label-info">Family Planning</span></h3>

            <table class="table">
                <tr>
                    <td><label class="control-label col-m-2"> Date of Last menstrual period </label></td>
                    <td><input type="Number" name="Age" class="form-control"> </td>
                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> On a Family Planning Method current?</label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> Family planning health promotion</label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>

                <tr>
                    <td><label class="control-label col-m-2">Oral contraceptive (No. of packets) </label></td>
                    <td><input type="Number" name="Age" class="form-control"> </td>
                </tr>

                <tr>
                    <td><label class="control-label col-m-2"> Depo(3 months injection)</label></td>
                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> Nur Inst(2 months injection)</label></td>
                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>

            </table>

            <a href="#womenAssessCon" role="button" class="btn btn-success btn-lg">next</a>

            <a href="#womenPersonInfor" role="button" class="btn btn-success btn-lg">back</a>
        </div>
    </div>

