
<div class="jumbotron">

        <div class="row">
            <h3><span class="label label-info">Pregnant women</span></h3>

            <table class="table">

                <tr>
                    <td><label class="control-label col-m-2">Is she Pregnant?</label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>
                <tr>
                    <td><label class="control-label col-m-2">Booked for 3 months</label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>

                <tr>
                    <td><label class="control-label col-m-2"> MUAC below 23 cm</label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Yes">no</option>
                        <option value= "No">yes</option>
                    </select> <br> </td>
                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> Date next clinic visit </label></td>
                    <td><input type="Number" name="Age" class="form-control"> </td>
                </tr>
            </table>

            <a href="#womenFinal" role="button" class="btn btn-success btn-lg">next</a>

            <a href="#womenAssessCon" role="button" class="btn btn-success btn-lg">back</a>
        </div>

</div>
