
<div class="jumbotron">

        <div class="row">
            <h3><span class="label label-info">Medical Information</span></h3>

            <table class="table">
                <tr>
                    <td><label class="control-label col-m-2"> Male Condoms (No. of condoms) </label></td>
                    <td><input type="Number" name="Age" class="form-control"> </td>
                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> female Condoms (No. of condoms) </label></td>
                    <td><input type="Number" name="Age" class="form-control"> </td>
                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> Date of Last Pap smear </label></td>
                    <td><input type="Number" name="Age" class="form-control"> </td>
                </tr>
                <tr>
                    <td><label class="control-label col-m-2"> Refer for </label></td>

                    <td><select name="problem" class="form-control">
                        <option value="Female">---Please select---</option>
                        <option value="Yes">Family planning(OC/Depo/NI)</option>
                        <option value= "No"> sterilization </option>
                        <option value= "No">IUCD(loop)</option>
                        <option value= "No">Pap smear</option>
                        <option value= "No">Breast examination</option>
                    </select> <br> </td>
                </tr>

                <tr>
                    <td> <label class="control-label col-m-2">Date of HIV test </label> </td>

                    <td> <select name="problem" class="form-control">
                        <option value="Female">---Please select---</option>
                        <option value="Yes">below 6 months</option>
                        <option value= "No">over 6 months</option>
                    </select> <br> </td>
                </tr>


            </table>

            <a href="#womenAssessPreg" role="button" class="btn btn-success btn-lg">next</a>

            <a href="#womenAssess" role="button" class="btn btn-success btn-lg">back</a>


        </div>

</div>
